In [1]:
import os
print(os.getcwd())
os.chdir("/Users/ryu/Desktop/Desktop ryuseungho's MacBook Air/Data Scientist/Study_Organization/PreProcessing/Pandas In Action(Finish)/Data")
print(os.getcwd())

/Users/ryu/Desktop/Desktop ryuseungho's MacBook Air/Data Scientist/Study_Organization/PreProcessing/Pandas In Action(Finish)
/Users/ryu/Desktop/Desktop ryuseungho's MacBook Air/Data Scientist/Study_Organization/PreProcessing/Pandas In Action(Finish)/Data

# II. Series 객체

In [2]:
import pandas as pd

## 1. Series 개요
- 동일한 유형의 데이터만 담을 수 있으며 레이블이 있는 1차원 배열
    - 배열 : 정렬된 값의 컬렉션으로 파이썬의 리스트와 비교할 수 있음
    - 동일한 유형 : 모든 값의 데이터 유형이 같음
    - 레이블 : 값을 찾을 때 사용할 수 있는 식별자
        - 순서는 0부터 시작

## 2. Series 생성

### 2-1. 파일 불러오기 : pd.read_csv( )
```python
pd.read_csv(
    filepath_or_buffer = None,
    index_col = None,
	parse_dates = None,
    usecols = None,
    squeeze = False
)
```
- Option
    - filepath_or_buffer : 확장자를 포함한 파일의 경로
    - index_col : 인덱스로 사용할 열 지정
    - parse_dates : 해당하는 columns의 데이터 유형을 datetimes로 변경
    - usecols : 사용할 columns 리스트
    - squeeze : 하나의 열을 가지는 DataFrame을 Series로 강제 변환

In [3]:
pd.read_csv(
    './revolutionary_war.csv',         # 'revolutionary_war.csv' 파일 불러오기
    index_col = 'Start Date',          #  인덱스로 사용할 열 'Start Date'
    parse_dates = ['Start Date'],      # 'Start Date'의 데이터 유형을 object -> datetimes64[ns]
    usecols = ['State','Start Date'],  # 'State', 'Start Date'변수 사용
    squeeze = True                     #  DataFrame을 Series로 변환
)

/var/folders/m2/mmsqhs890cl1_n22d3cspqsh0000gn/T/ipykernel_36504/2783569544.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv(

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

### 2-2. Series 생성 :: pd.Series( )
```python
pd.Seres(
    data = None,    # 리스트(List), 딕셔너리(Dictionary), 튜플(Tuple), etc...
    idnex = None,
    dtype = None
)
```
- Option
    - data : 입력 데이터
      - 집합(Set) Error가 → 리스트(List)
        - 집합에는 리스트와 같은 순서 개념이나 딕셔너리와 같은 연관 개념이 없음  
          → 판다스는 집합의 값을 저장하는 순서를 가정할 수 없음

    - index : 인덱스 레이블 할당
      - 파이썬의 딕셔너리와 다르게 Series의 인덱스는 중복을 허용  
        (But, Index는 고유한 값이기 때문에 중복을 피하는 것이 좋음)
    - dtype : 입력 데이터 형태 설정

In [4]:
lucky_numbers = [7, 8, 15, 16, 23, 42]
days_of_week = ('Monday', 'Wednesday', 'Friday', 'Wednesday','Friday','saturday')

# 동일한 결과
pd.Series(lucky_numbers, days_of_week, 'float')
pd.Series(
    data = lucky_numbers, # Series의 데이터
    index = days_of_week, # Series의 인덱스
    dtype = 'float'       # Series의 데이터 형태
)

Monday        7.0
Wednesday     8.0
Friday       15.0
Wednesday    16.0
Friday       23.0
saturday     42.0
dtype: float64

## 3. Series 속성

### 3-1. 행 반환

In [5]:
values = range(0,500,5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

#### 3-1-1. 상위 행 확인 :: Series.head( )
```python
Series.head(
    n = 5
)
```
- 처음 n개의 행을 반환
- Option
    - n : 선택할 행 수

In [6]:
nums.head() # nums의 상위 5개의 행

0     0
1     5
2    10
3    15
4    20
dtype: int64

#### 3-1-2. 하위 행 확인 :: Series.tail( )
```python
Series.tail(
    n = 5
)
```
- 마지막 n개의 행을 반환
- Option
    - n : 선택할 행 수

In [7]:
nums.tail() # nums의 하위 5개의 행

95    475
96    480
97    485
98    490
99    495
dtype: int64

#### 3-1-3. 임의 값 추출 :: Series.sample( )
```python
Series.sample(
    n = None,
    random_state = None,  
    axis = None           # 0 or 'index' | 1 or 'columns'
)
```
- 객체의 축에서 임의의 항목 샘플을 반환
- Option
    - n : 반환할 축의 항목 수
    - random_state : 난수 생성기의 시드 값
    - axis : 반환할 축

In [8]:
nums.sample(3) # nums 중 임의의 3개의 행

71    355
3      15
63    315
dtype: int64

### 3-2. 인덱스 확인 : Series.index
- Series의 인덱스(축 레이블)

In [9]:
calories_info = {
  'Cereal' : 125,
  'Chocolate Bar' : 406,
  'Ice Cream Sundae' : 342,
}

diet= pd.Series(calories_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [10]:
diet.index       # diet의 index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

### 3-3. 값 확인 : Sereis.values
- Series의 값

In [11]:
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [12]:
diet.values       # diet의 값

array([125, 406, 342])

### 3-4. 값의 데이터 유형 확인 :: Series.dtype
- Series의 데이터 유형(dtype)확인

In [13]:
diet.dtype # diet의 값 데이터 유형

dtype('int64')

### 3-5. 개수 반환 :: Series.size
- Series의 요소 수를 반환

In [14]:
diet.size # diet의 요소 개수

3

### 3-6. 차원 반환 :: Series.shape
- Series의 차원의 수를 반환

In [15]:
diet.shape # diet의 차원

(3,)

### 3-7. 고유값(유니크 값)

#### 3-7-1. 고유한(유니크) 값의 개수를 포함하는 Series 반환 :: Series.value_counts( )
```python
Series.value_counts(
    sort = True,          # True : 정렬 O | False : 정렬 X
    ascending = False,    # True : 내림차순 | False : 오름차순
    dropna = True         # True : NaN 포함 X | False : NaN 
)
```
- 고유한(유니크) 값의 개수를 포함하는 Series를 반환
- Option
    - sort : 정렬 여부
    - ascending : 정렬 오름차순 or 내림차순 여부
    - dropna : NaN의 수를 포함 여부

In [16]:
diet.value_counts() # diet의 각 유니크 값의 개수

125    1
406    1
342    1
dtype: int64

#### 3-7-2. 고유값(유니크값) 반환 :: Series.unique( )
- Series의 고유한(유니크) 값을 반환

In [17]:
diet.unique() # diet의 유니크 값

array([125, 406, 342])

#### 3-7-3. 고유값(유니크값) 갯수 반환 :: Series.nunique( )

In [18]:
diet.nunique() # diet의 유니크 값의 개수

3

#### 3-7-4.  고유값(유니크값) 여부(T/F) 확인 :: Series.is_unique
- Series가 중복된 값 존재 여부

In [19]:
diet.is_unique

True

In [20]:
pd.Series(data = [1,2,3,3]).is_unique

False

### 3-9. 정렬

In [21]:
battles = pd.read_csv(
    'revolutionary_war.csv',
    index_col = 'Start Date',
    parse_dates = ['Start Date'],
    usecols = ['State', 'Start Date'],
    squeeze = True    
)
battles

/var/folders/m2/mmsqhs890cl1_n22d3cspqsh0000gn/T/ipykernel_36504/3613524353.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  battles = pd.read_csv(

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

#### 3-9-1. 값 기준으로 정렬 :: sort_values
```python
Series.sort_values(
    ascending = True,         # True : 오름차순 | False : 내림차순
	na_position = 'last',     # 'last' : NaN을 마지막에 위치 | 'first' : NaN을 처음에 위치
    inplace = False           # True : 원본 대체 | False : 원본 대체하지 않음
)
```

- Option
  - ascending : 오름차순 / 내림차순 결정
  - na_position : NaN값을 어디에 배치할지 결정
  - inplace : 원본 대체 여부

In [22]:
battles.sort_values()
battles.sort_values(ascending = True)    # battles의 값을 기준으로 오름차순으로 정렬

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

In [23]:
battles.sort_values(ascending = False)    # battles의 값을 기준으로 내림차순 정렬

Start Date
1783-01-22    Virginia
1781-09-28    Virginia
1779-05-10    Virginia
1781-09-05    Virginia
1781-07-06    Virginia
                ...
1782-08-08         NaN
1782-08-25         NaN
1782-09-13         NaN
1782-10-18         NaN
1782-12-06         NaN
Name: State, Length: 232, dtype: object

In [24]:
battles.sort_values(na_position = 'first')   # battles의 값을 기준으로 오름차순 정렬, Nan값을 처음에 위치

Start Date
1775-09-17         NaN
1775-12-31         NaN
1776-03-03         NaN
1776-03-25         NaN
1776-05-18         NaN
                ...
1781-07-06    Virginia
1781-07-01    Virginia
1781-06-26    Virginia
1781-04-25    Virginia
1783-01-22    Virginia
Name: State, Length: 232, dtype: object

#### 3-9-2. 인덱스 기준으로 정렬 :: sort_index
```python
Series.sort_index(
    ascending = True,        # True : 오름차순 | False : 내림차순
    na_position = 'last',    # 'last' : 마지막에 위치 | 'first' : 처움에 위치 
    inplace = False          # True : 원본 대체 | False : 원본 유지
)
```
- Option 
    - ascending : 오름차순 or 내림차순 결정
    - na_position : NaN값을 어디에 배치할지 결정
    - inplace : 원본 대체 여부

In [25]:
battles.sort_index()
battles.sort_index(ascending = True) # battles의 인덱스를 기준으로 오름차순으로 정렬

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

In [26]:
battles.sort_index(ascending = False) # battles의 인덱스 기준으로 내림차순으로 정렬

Start Date
1783-01-22         Virginia
1782-12-06              NaN
1782-10-18              NaN
1782-09-13              NaN
1782-09-11         Virginia
                  ...
1774-09-01    Massachusetts
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

In [27]:
battles.sort_index(na_position = 'first') # battles의 인덱스 기준으로 오름차순 정렬, NaN값을 처음에 위치

Start Date
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1774-09-01    Massachusetts
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

## 4. Series 연산

In [28]:
import numpy as np
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

### 4-1. Null이 아닌 값의 개수 :: Series.count( )
- Series의 NA/null( )이 아닌 관측치 개수

In [29]:
numbers.count()   # numbers의 NA/null 값이 아닌 개수

5

### 4-2. 합계

#### 4-2-1. Null이 아닌 값 합계 :: Series.sum( )
```python
Series.sum(
    skipna = True,    # True : NA/null 제외 | False : NA/null 포함
    min_count = None
)
```

- Option
  - skipna : 결과를 계산할 때 NA/null 값을 제외
  - min_count : 작업을 수행하는 데 필요한 유효한 값의 수
    - NA가 아닌 값 보다 적으면 `min_count`결과는 NA가 됨

In [30]:
numbers.sum() # numbers의 결측치를 제외한 값의 합

15.0

In [31]:
numbers.sum(
    skipna = False  # 결측치를 제외하지 않음
)

nan

In [32]:
numbers.sum(
    min_count = 3   # numbers의 합계를 연산하기 위하여 최소한 3개의 요소가 필요
)

15.0

In [33]:
numbers.sum(
    min_count = 6   # numbers의 합계를 연산하기 위하여 최소한 6개의 요소가 필요
)

nan

#### 4-2-2. 누적 합계 :: Series.cumsum()

In [34]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [35]:
numbers.cumsum()    # numbers의 누적 합계

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [36]:
numbers.cumsum(skipna = False) # numbers의 누적 합계 (결측값 포함)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

### 4-3. 곱셈 :: Series.product( )
```python
Series.product(
	skipna = True,     # True : 결측치 제외 | False : 결측치 포함
    min_count = 3      
)
```
- Option
    - skipna : 결측치 생략 여부
    - min_count : 유효한 값의 최소 개수 설정

In [37]:
numbers.product()   # numbers의 값 중 결측값을 제외한 값의 곱셈

120.0

In [38]:
numbers.product(skipna = False) # numbers의 값 중 결측값을 제외하지 않은 값의 곱셈

nan

In [39]:
numbers.product(
    min_count = 3    # numbers의 곱셈을 연산하기 위하여 최소한 3개의 요소가 필요
)

120.0

In [40]:
numbers.product(
    min_count = 6    # numbers의 곱셈을 연산하기 위하여 최소한 6개의 요소가 필요.
)

nan

### 4-4. 현재 요소와 이전 요소 사이의 백분율 :: Series.pct_change( )
```python
Series.pct_change(
    periods = 1,            # 백분율 변경을 형성하기 위해 이동할 기간
    fill_method = 'pad',    # 'pad' or 'ffill' : 정방향 채우기 | 'bfill' or 'backfill' : 역방향 채우기
    limit = None
)
```
- 한 객체 내에서 행과 행의 차이를 현재값과의 백분율로 출력
- $(다음행 - 현재행) / 현재행$
- Option
  - periods : 비교할 간격
  - fill_method : NA/null(결측치)를 대체할 값
    - 'pad' or 'ffill' (정방향 채우기) : 앞의 값으로 결측치를 대체함
      <img src='https://p.ipic.vip/oz83sp.png' width = "50%">
    - 'bfill' or 'backfill' (역방향 채우기) : 뒤의 값으로 결측치를 대체함
      <img src='https://p.ipic.vip/isls1u.png' width = '50%'>
  - limit : 결측값을 몇개나 대체할것인지

In [84]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [87]:
# 이전 요소와의 차이 백분율 (결측값은 앞의 값으로 대체)
numbers.pct_change()
numbers.pct_change(fill_method = 'pad')
numbers.pct_change(fill_method = 'ffill')

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [83]:
# 이전 요소와의 차이 백분율 (결측값은 뒤 값으로 대체)
numbers.pct_change(fill_method = 'bfill')
numbers.pct_change(fill_method = 'backfill')

0     NaN
1    15.0
2     0.0
3     0.0
4     0.0
5     3.0
Name: col3, dtype: float64

### 4-5. 평균 :: Series.mean( )
```python
Series.mean(
    skipna = True,     # True : NA/null값 제외 | False : NA/null 값 포함
)
```
- Series 값들의 평균을 반환
- Option
    - skipna : 결과를 계산할 때 NA/null값 제외 여부

In [43]:
numbers.mean() # numbers 값들의 평균

3.0

In [44]:
numbers.mean(skipna = False) # NA/null 값을 포함한 numbers 값들의 평균

nan

### 4-6. 중앙값 :: Series.median( )
```python
Series.median(
    skipna = True,     # True : NA/null값 제외 | False : NA/null값 포함
```
- Series 값들의 중앙값을 반환
- Option
   - skipna : 결과를 계산할 때 NA/null값 제외 여부

In [45]:
numbers.median()    # numbers 값들의 중앙값

3.0

In [46]:
numbers.median(skipna = False) # NA/null 값을 포함한 numbers 값들의 중앙값

nan

### 4-7. 표준편차 :: Series.std( )
```python
Series.std(
    skipna = True    # True : NA/null값 제외 | False : NA/null 값 포함
)
```
- Series 값들의 표준편차를 반환
- Option
    - skipna : 결과를 계산할 때 NA/null값 제외 여부

In [47]:
numbers.std()     # numbers 값들의 표준편차

1.5811388300841898

In [48]:
numbers.std(skipna = False)     # NA/null 값을 포함한 numbers 값들의 표준편차

nan

### 4-8. 최대값 :: Series.max()
```python
Series.max(
    skipna = True    # True : NA/null값 제외 | False : NA/null 값 포함
```
- Series값들의 최대값을 반환
- Option
    - skipna : 결과를 계산할 때 NA/null값 제외 여부

In [49]:
numbers.max()    # numbers 값들의 최대값

5.0

In [50]:
numbers.max(skipna = False)     # NA/null 값을 포함한 numbers 값들의 최대값

nan

### 4-9. 최소값 :: Series.min( )
```python
Series(
    skipna = True    # True : NA/null값 제외 | False : NA/null 값 포함
```
- Series값들의 최소값을 반환
- Option
    - skipna : 결과를 계산할 때 NA/null값 제외 여부

In [51]:
numbers.min()    # numbers 값들의 최소값

1.0

In [52]:
numbers.min(skipna = False)    # NA/null 값을 포함한 numbers 값들의 최소값

nan

### 4-10. 통계량 :: Series.describe( )
```python
Series.describe()
```
- Series 값들에 대한 통계량

In [53]:
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

### 4-11. 가장 큰 n개의 요소 반환 :: Series.nlargest( )
```python
Series.nlargest(
    n = 5,     
    keep = 'first'    # 'first' : 처음 중복이 된 값부터 출력 | 'last' : 마지막 중복된 값 부터 출력 | 'all' : 중복값 모두 출력(n보다 큰 크기의 시리즈가 생성될 수 있음)
)
```
- 가장 큰 n개의 요소를 반환
- Option
    - n : 반환할 요소의 개수
    - keep : 중복값 처리 방법

In [54]:
countries_population = {"Italy": 59000000, "France": 65000000,
                        "Malta": 434000, "Maldives": 434000,
                        "Brunei": 434000, "Iceland": 337000,
                        "Nauru": 11300, "Tuvalu": 11300,
                        "Anguilla": 11300, "Montserrat": 5200}
s = pd.Series(countries_population)

In [55]:
s

Italy         59000000
France        65000000
Malta           434000
Maldives        434000
Brunei          434000
Iceland         337000
Nauru            11300
Tuvalu           11300
Anguilla         11300
Montserrat        5200
dtype: int64

In [56]:
s.nlargest(n = 3)
s.nlargest(n = 3,keep = 'first')    # Series(s)중 가장 큰 3개의 요소, 중복된 값(Maldives, Brunei)중 처음인 Maldives 출력

France    65000000
Italy     59000000
Malta       434000
dtype: int64

In [57]:
s.nlargest(n = 3, keep = 'last')    # Series(s)중 가장 큰 3개의 요소, 중복된 값(Maldives, Brunei)중 마지막인 Brunei 출력

France    65000000
Italy     59000000
Brunei      434000
dtype: int64

In [58]:
s.nlargest(n = 3, keep = 'all')    # Series(s)중 가장 큰 3개의 요소, 중복된 값(Maldives, Brunei) 모두 출력

France      65000000
Italy       59000000
Malta         434000
Maldives      434000
Brunei        434000
dtype: int64

### 4-12. 가장 작은 n개의 요소 반환 :: Series.nsmallest
```python
Series.nsmallest(
    n = 5,     
    keep = 'first'    # 'first' : 처음 중복이 된 값부터 출력 | 'last' : 마지막 중복된 값 부터 출력 | 'all' : 중복값 모두 출력(n보다 큰 크기의 시리즈가 생성될 수 있음)
)
```
- 가장 작은 n개의 요소를 반환
- Option
    - n : 반환할 요소의 개수
    - keep : 중복값 처리 방법

In [59]:
s

Italy         59000000
France        65000000
Malta           434000
Maldives        434000
Brunei          434000
Iceland         337000
Nauru            11300
Tuvalu           11300
Anguilla         11300
Montserrat        5200
dtype: int64

In [60]:
s.nsmallest(n = 2)
s.nsmallest(n = 2, keep = 'first') # Series(s)중 가장 작은 2개의 요소, 중복값(Malta, Nauru, Auguilla)중 처음인 'Malta' 출력

Montserrat     5200
Nauru         11300
dtype: int64

In [61]:
s.nsmallest(n = 2, keep = 'last')  # Series(s)중 가장 작은 2개의 요소, 중복값(Malta, Nauru, Auguilla)중 마지막인 'Auguilla' 출력

Montserrat     5200
Anguilla      11300
dtype: int64

In [62]:
s.nsmallest(n = 2, keep = 'all')   # Series(s)중 가장 작은 2개의 요소, 중복값(Malta, Nauru, Auguilla) 모두 출력

Montserrat     5200
Nauru         11300
Tuvalu        11300
Anguilla      11300
dtype: int64

## 5. Series간의 연산

In [63]:
s1 = pd.Series(data = [5, np.nan, 15], index = ['A', 'B', 'C'])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

### 5-1. 덧셈 :: + or add

In [64]:
s1 + 3
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

### 5-2. 뺄셈 :: - or sub or subtract

In [65]:
s1 - 5
s1.sub(5)
s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

### 5-3. 곱하기 :: * or mul or multiply

In [66]:
s1 * 2
s1.mul(2)
s1.multiply(2)

A    10.0
B     NaN
C    30.0
dtype: float64

### 5-4. 나누기 :: / or div or divide

In [67]:
s1 / 2
s1.div(2)
s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

### 5-5. 몫 추출 :: // or floordiv

In [68]:
s1 // 4
s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

### 5-6. 나머지 추출 :: % or mod

In [69]:
s1 % 3
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

### 5-7. 두 객체 비교 :: ==

In [70]:
s1 = pd.Series([3, 6, np.nan, 12])
s2 = pd.Series([2, 6, np.nan, 12])
print("---- s1 -----")
print(f"{s1}")
print("---- s2 -----")
print(f"{s2}")

---- s1 -----
0     3.0
1     6.0
2     NaN
3    12.0
dtype: float64
---- s2 -----
0     2.0
1     6.0
2     NaN
3    12.0
dtype: float64

In [71]:
s1 == s2
s1.eq(s2)

0    False
1     True
2    False
3     True
dtype: bool