In [1]:
import os
print(os.getcwd())
os.chdir("/Users/ryu/Desktop/Desktop ryuseungho's MacBook Air/Data Scientist/Study_Organization/PreProcessing/Pandas In Action/Data")
print(os.getcwd())

/Users/ryu/Desktop/Desktop ryuseungho's MacBook Air/Data Scientist/Study_Organization/PreProcessing/Pandas In Action
/Users/ryu/Desktop/Desktop ryuseungho's MacBook Air/Data Scientist/Study_Organization/PreProcessing/Pandas In Action/Data

# VI. 텍스트 데이터 다루기
- DataFrame['column'] == Series
- DataFrame.'column' == Series
- Series.str : Series객체의 str 속성을 사용하여 StringMethods객체에 접근 가능

In [2]:
import pandas as pd

## 1. 공백 처리

In [3]:
df = pd.DataFrame({'Sentence' : ['  Sentence with left space',
                                 'Sentence with a space on the right  ',
                                 '  A sentence with two spaces  ']})
df

                               Sentence
0              Sentence with left space
1  Sentence with a space on the right
2          A sentence with two spaces

### 1-1. 왼쪽 공백 제거 :: str.lstrip( )
```python
str.lstrip()
````
- 문자열의 시작 부분의 공백 제거

In [4]:
df['Sentence_lstrip'] = df["Sentence"].str.lstrip()   # 왼쪽 공백 제거
df

                               Sentence                       Sentence_lstrip
0              Sentence with left space              Sentence with left space
1  Sentence with a space on the right    Sentence with a space on the right
2          A sentence with two spaces            A sentence with two spaces

In [5]:
df["Sentence"][0]

'  Sentence with left space'

In [6]:
df['Sentence_lstrip'][0]

'Sentence with left space'

### 1-2. 오른쪽 공백 제거 :: str.rstrip( )
```python
str.rstrip()
```
- 문자열의 마지막 부분의 공백 제거

In [7]:
df['Sentence_rstrip'] = df["Sentence"].str.rstrip()    # 오른쪽 공백 제거
df

,Sentence,Sentence_lstrip,Sentence_rstrip
0,Sentence with left space,Sentence with left space,Sentence with left space
1,Sentence with a space on the right,Sentence with a space on the right,Sentence with a space on the right
2,A sentence with two spaces,A sentence with two spaces,A sentence with two spaces

In [8]:
df['Sentence'][1]

'Sentence with a space on the right  '

In [9]:
df['Sentence_rstrip'][1]

'Sentence with a space on the right'

### 1-3. 양쪽 공백 제거 :: str.strip( )
```python
str.strip()
```
- 문자열의 양쪽 끝의 공백 제거

In [10]:
df['Sentence_strip'] = df["Sentence"].str.strip()    # 양쪽 공백 제거
df

,Sentence,Sentence_lstrip,Sentence_rstrip,Sentence_strip
0,Sentence with left space,Sentence with left space,Sentence with left space,Sentence with left space
1,Sentence with a space on the right,Sentence with a space on the right,Sentence with a space on the right,Sentence with a space on the right
2,A sentence with two spaces,A sentence with two spaces,A sentence with two spaces,A sentence with two spaces

In [11]:
df['Sentence'][2]

'  A sentence with two spaces  '

In [12]:
df['Sentence_strip'][2]

'A sentence with two spaces'

## 2. 대 • 소문자 변환

In [13]:
df = pd.DataFrame({'Sentence' : ['ALL CHARACTERS ARE UPPERCASE',
                                 'all characters are lowercase',
                                 'all characters are lowercase',
                                 'all characters are lowercase',
                                 'UPPER AND lower case']})
df

                       Sentence
0  ALL CHARACTERS ARE UPPERCASE
1  all characters are lowercase
2  all characters are lowercase
3  all characters are lowercase
4          UPPER AND lower case

### 2-1. 모든 문자를 소문자로 변환 :: str.lower( )
```python
str.lower()
```
- 문자열의 모든 문자를 소문자로 변환

In [14]:
df['Sentence_lower'] = df['Sentence'].str.lower()    # 문자열을 모두 소문자로 변환
df

                       Sentence                Sentence_lower
0  ALL CHARACTERS ARE UPPERCASE  all characters are uppercase
1  all characters are lowercase  all characters are lowercase
2  all characters are lowercase  all characters are lowercase
3  all characters are lowercase  all characters are lowercase
4          UPPER AND lower case          upper and lower case

In [15]:
df['Sentence'][0]

'ALL CHARACTERS ARE UPPERCASE'

In [16]:
df['Sentence_lower'][0]

'all characters are uppercase'

### 2-2. 모든 문자를 대문자로 변환 :: str.upper( )
```python
str.upper()
```
- 문자열의 모든 문자를 대문자로 변환

In [17]:
df['Sentence_upper'] = df['Sentence'].str.upper()    # 문자열의 모든 문자를 대문자로 변환
df

,Sentence,Sentence_lower,Sentence_upper
0,ALL CHARACTERS ARE UPPERCASE,all characters are uppercase,ALL CHARACTERS ARE UPPERCASE
1,all characters are lowercase,all characters are lowercase,ALL CHARACTERS ARE LOWERCASE
2,all characters are lowercase,all characters are lowercase,ALL CHARACTERS ARE LOWERCASE
3,all characters are lowercase,all characters are lowercase,ALL CHARACTERS ARE LOWERCASE
4,UPPER AND lower case,upper and lower case,UPPER AND LOWER CASE

In [18]:
df['Sentence'][1]

'all characters are lowercase'

In [19]:
df['Sentence_upper'][1]

'ALL CHARACTERS ARE LOWERCASE'

### 2-3. 첫 번째 문자를 대문자로 변환 :: str.capitalize( )
```python
str.capitalize()
```
- 첫 번째 문자를 대문자로 변환

In [20]:
df['Sentence_capitalize'] = df['Sentence'].str.capitalize() # 맨 앞의 문자를 대문자로 변환
df

,Sentence,Sentence_lower,Sentence_upper,Sentence_capitalize
0,ALL CHARACTERS ARE UPPERCASE,all characters are uppercase,ALL CHARACTERS ARE UPPERCASE,All characters are uppercase
1,all characters are lowercase,all characters are lowercase,ALL CHARACTERS ARE LOWERCASE,All characters are lowercase
2,all characters are lowercase,all characters are lowercase,ALL CHARACTERS ARE LOWERCASE,All characters are lowercase
3,all characters are lowercase,all characters are lowercase,ALL CHARACTERS ARE LOWERCASE,All characters are lowercase
4,UPPER AND lower case,upper and lower case,UPPER AND LOWER CASE,Upper and lower case

In [21]:
df['Sentence'][2]

'all characters are lowercase'

In [22]:
df['Sentence_capitalize'][2]

'All characters are lowercase'

### 2-4. 각 단어의 첫 번째 문자를 대문자로 변환 :: str.title( )
```python
str.title()
```
- 문자열의 각 단어 첫 번째 문자를 대문자로 변환

In [23]:
df['Sentence_title'] = df['Sentence'].str.title()    # 문자열의 각 단어 첫 번째 문자를 대문자로 변환
df

,Sentence,Sentence_lower,Sentence_upper,Sentence_capitalize,Sentence_title
0,ALL CHARACTERS ARE UPPERCASE,all characters are uppercase,ALL CHARACTERS ARE UPPERCASE,All characters are uppercase,All Characters Are Uppercase
1,all characters are lowercase,all characters are lowercase,ALL CHARACTERS ARE LOWERCASE,All characters are lowercase,All Characters Are Lowercase
2,all characters are lowercase,all characters are lowercase,ALL CHARACTERS ARE LOWERCASE,All characters are lowercase,All Characters Are Lowercase
3,all characters are lowercase,all characters are lowercase,ALL CHARACTERS ARE LOWERCASE,All characters are lowercase,All Characters Are Lowercase
4,UPPER AND lower case,upper and lower case,UPPER AND LOWER CASE,Upper and lower case,Upper And Lower Case

In [24]:
df['Sentence'][3]

'all characters are lowercase'

In [25]:
df['Sentence_title'][3]

'All Characters Are Lowercase'

### 2-5. 소문자를 대문자로, 대문자는 소문자로 변경 :: str.swapcase( )
- 문자열을 소문자 ←→ 대문자 변환

In [26]:
df['Sentence_swap'] = df['Sentence'].str.swapcase()    # 문자열의 문자를 소문자 ←→ 대문자 상호변환
df

,Sentence,Sentence_lower,Sentence_upper,Sentence_capitalize,Sentence_title,Sentence_swap
0,ALL CHARACTERS ARE UPPERCASE,all characters are uppercase,ALL CHARACTERS ARE UPPERCASE,All characters are uppercase,All Characters Are Uppercase,all characters are uppercase
1,all characters are lowercase,all characters are lowercase,ALL CHARACTERS ARE LOWERCASE,All characters are lowercase,All Characters Are Lowercase,ALL CHARACTERS ARE LOWERCASE
2,all characters are lowercase,all characters are lowercase,ALL CHARACTERS ARE LOWERCASE,All characters are lowercase,All Characters Are Lowercase,ALL CHARACTERS ARE LOWERCASE
3,all characters are lowercase,all characters are lowercase,ALL CHARACTERS ARE LOWERCASE,All characters are lowercase,All Characters Are Lowercase,ALL CHARACTERS ARE LOWERCASE
4,UPPER AND lower case,upper and lower case,UPPER AND LOWER CASE,Upper and lower case,Upper And Lower Case,upper and LOWER CASE

In [27]:
df['Sentence'][4]

'UPPER AND lower case'

In [28]:
df['Sentence_swap'][4]

'upper and LOWER CASE'

## 3. 문자열 패딩 및 고정길이 데이터 만들기

In [29]:
df = pd.DataFrame({'email' : ['abc@naver.com',
                              'programming@gmail.com',
                              '1004@daum.net']})
df

                   email
0          abc@naver.com
1  programming@gmail.com
2          1004@daum.net

### 3-1. 지정 길이 패딩 :: str.pad( )
```python
str.pad(
    width,              
    side = 'left',     # 'left' : 왼쪽을 지정된 문자로 채움 | 'right' : 오른쪽을 지정된 문자로 채움 | 'both' : 양쪽을 지정된 문자로 채움(오른쪽 먼저)
    fillchar = ' '    
```
- 문자열을 지정된 너비까지 임의의 문자로 채움
- Option
    - width : 지정 길이
    - side : 결과 문자열을 채울 측면
    - fillchar : 채울 추가 문자

In [30]:
df['email_pad'] = df['email'].str.pad(width = 22, side = 'both', fillchar = '_')  # 지정된 길이까지 공백을 '_'로 채움
df

                   email               email_pad
0          abc@naver.com  ____abc@naver.com_____
1  programming@gmail.com  programming@gmail.com_
2          1004@daum.net  ____1004@daum.net_____

### 3-2. 중앙에 두고 지정 길이 패딩 :: str.center( )
```python
str.center(
    width,
    fillchar = ' '
)
```
- 문자열의 왼쪽과 오른쪽을 임의의 문자로 채움
- Option
    - width : 최소 너비
    - fillchar : 공백을 채울 문자열

In [31]:
df['email_center'] = df['email'].str.center(width = 22, fillchar = '_')    # 문자열를 중앙에 위치 시킨뒤 공백을 '_'로 채움
df

                   email               email_pad            email_center
0          abc@naver.com  ____abc@naver.com_____  ____abc@naver.com_____
1  programming@gmail.com  programming@gmail.com_  programming@gmail.com_
2          1004@daum.net  ____1004@daum.net_____  ____1004@daum.net_____

### 3-3. 왼쪽에 두고 지정길이 패딩 :: str.ljust( )
```python
str.ljust(
    width,
    fillchar = ' '
)
```
- 문자열의 오른쪽을 임의의 문자로 채움
- Option
    - width : 최소 너비
    - fillchar : 공백을 채울 문자열

In [32]:
df['email_ljust'] = df['email'].str.ljust(width = 22, fillchar = '_')    # 문자열을 왼쪽에 위치 시킨 뒤 남은 공백을 '_'로 채움
df

,email,email_pad,email_center,email_ljust
0,abc@naver.com,____abc@naver.com_____,____abc@naver.com_____,abc@naver.com_________
1,programming@gmail.com,programming@gmail.com_,programming@gmail.com_,programming@gmail.com_
2,1004@daum.net,____1004@daum.net_____,____1004@daum.net_____,1004@daum.net_________

### 3-4. 오른쪽에 두고 지정길이 패딩 :: str.rjust( )
```python
str.rjust(
    width,
    fillchar = ' '
)
```
- 문자열의 왼쪽을 임의의 문자로 채움
- Option
    - width : 최소 너비
    - fillchar : 공백을 채울 문자열

In [33]:
df['email_rjust'] = df['email'].str.rjust(width = 22, fillchar = '_')    # 문자열을 오른쪽에 위치 시킨뒤 공백을 '_'로 채움
df

,email,email_pad,email_center,email_ljust,email_rjust
0,abc@naver.com,____abc@naver.com_____,____abc@naver.com_____,abc@naver.com_________,_________abc@naver.com
1,programming@gmail.com,programming@gmail.com_,programming@gmail.com_,programming@gmail.com_,_programming@gmail.com
2,1004@daum.net,____1004@daum.net_____,____1004@daum.net_____,1004@daum.net_________,_________1004@daum.net

### 3-5. '0'으로 패딩
```python
str.zfill(
    width
)
```
- 문자열의 왼쪽을 0으로 채움
- Option
    - width : 최소 너비

In [34]:
df['email_zero'] = df['email'].str.zfill(width = 22)    # 문자열을 오른쪽에 위치 시킨뒤 공백을 '0'으로 채움
df

,email,email_pad,email_center,email_ljust,email_rjust,email_zero
0,abc@naver.com,____abc@naver.com_____,____abc@naver.com_____,abc@naver.com_________,_________abc@naver.com,000000000abc@naver.com
1,programming@gmail.com,programming@gmail.com_,programming@gmail.com_,programming@gmail.com_,_programming@gmail.com,0programming@gmail.com
2,1004@daum.net,____1004@daum.net_____,____1004@daum.net_____,1004@daum.net_________,_________1004@daum.net,0000000001004@daum.net

## 4. 문자열 분할

In [35]:
df = pd.DataFrame({'email' : ['ID : abc@naver.com | PW : abcdefg',
                              'ID : python@gamil.com | PW : jupyter',
                              'ID : English@yahoo.ac.kr | PW : hard']})
df

                                  email
0     ID : abc@naver.com | PW : abcdefg
1  ID : python@gamil.com | PW : jupyter
2  ID : English@yahoo.ac.kr | PW : hard

### 4-1. 왼쪽 구분자 기준 문자열 분할 :: str.split( )
```python
str.split(
    pat = ' ',
    n = -1,            # 0, -1 : 모두 분할
    expand = False     # True : DataFrame/MultiIndex 확장 차원을 반환 | False : 문자열 목록을 포함하는 Series/index를 반환
)
```
- 주어진 구분자를 이용하여 문자열을 분할(문자열의 왼쪽 부터 분할)
- Option
    - pat : 구분자
    - n : 구분 기호의 분할 수 
        - 즉, 구분자를 사용할 횟수
        - 왼쪽부터 구분이 됨
    - expand : 분할 문자열을 별도의 열로 확장

In [36]:
df['email'].str.split(expand = True)

    0  1                    2  3   4  5        6
0  ID  :        abc@naver.com  |  PW  :  abcdefg
1  ID  :     python@gamil.com  |  PW  :  jupyter
2  ID  :  English@yahoo.ac.kr  |  PW  :     hard

In [37]:
df['email'].str.split(pat = ' ')    # 구분자(' ')를 기준으로 모두 분할

0       [ID, :, abc@naver.com, |, PW, :, abcdefg]
1    [ID, :, python@gamil.com, |, PW, :, jupyter]
2    [ID, :, English@yahoo.ac.kr, |, PW, :, hard]
Name: email, dtype: object

In [38]:
df['email'].str.split(pat = ' ', n = 2)  # 구분자(' ')를 기준으로 2번 분할 (왼쪽에 있는 구분자가 우선순위를 가짐)

0       [ID, :, abc@naver.com | PW : abcdefg]
1    [ID, :, python@gamil.com | PW : jupyter]
2    [ID, :, English@yahoo.ac.kr | PW : hard]
Name: email, dtype: object

### 4-2. 오른쪽 구분자 기준 문자열 분할 :: str.rsplit( )
```python
str.rsplit(
    pat = ' ',
    n = -1,            # 0, -1 : 모두 분할
    expand = False     # True : DataFrame/MultiIndex 확장 차원을 반환 | False : 문자열 목록을 포함하는 Series/index를 반환
)
```
- 주어진 구분자를 이용하여 문자열을 분할(문자열의 오른쪽 부터 분할)
- Option
    - pat : 구분자
    - n : 구분 기호의 분할 수 
        - 즉, 구분자를 사용할 횟수
        - 오른쪽부터 구분이 됨
    - expand : 분할 문자열을 별도의 열로 확장

In [39]:
df['email'].str.rsplit(expand = True)

    0  1                    2  3   4  5        6
0  ID  :        abc@naver.com  |  PW  :  abcdefg
1  ID  :     python@gamil.com  |  PW  :  jupyter
2  ID  :  English@yahoo.ac.kr  |  PW  :     hard

In [40]:
df['email'].str.rsplit()    # 구분자(' ')를 기준으로 모두 분할

0       [ID, :, abc@naver.com, |, PW, :, abcdefg]
1    [ID, :, python@gamil.com, |, PW, :, jupyter]
2    [ID, :, English@yahoo.ac.kr, |, PW, :, hard]
Name: email, dtype: object

In [41]:
df['email'].str.rsplit(pat = ' ', n = 2)  # 구분자(' ')를 기준으로 2번 분할 (오른쪽에 있는 구분자가 우선순위를 가짐)

0       [ID : abc@naver.com | PW, :, abcdefg]
1    [ID : python@gamil.com | PW, :, jupyter]
2    [ID : English@yahoo.ac.kr | PW, :, hard]
Name: email, dtype: object

### 4-3. 구분자 포함 왼쪽 구분자 기준 분할 :: str.partition( )
```python
str.partition(
    sep = ' ',
    expand = True    # True : DataFrame/MultiIndex 확장 차원을 반환 | False : Series/Index를 반환
)
```
- 구분자의 첫 번째 항목에서 문자열을 분할
- Option
    - sep : 구분자
    - expand : 분할 문자열을 별도의 열로 확장

In [42]:
df['email'].str.partition(' ')    # 구분자(' ')를 기준으로 분할

    0  1                                  2
0  ID        : abc@naver.com | PW : abcdefg
1  ID     : python@gamil.com | PW : jupyter
2  ID     : English@yahoo.ac.kr | PW : hard

In [43]:
df['email'].str.partition(' ', expand = False)

0       (ID,  , : abc@naver.com | PW : abcdefg)
1    (ID,  , : python@gamil.com | PW : jupyter)
2    (ID,  , : English@yahoo.ac.kr | PW : hard)
Name: email, dtype: object

### 4-4. 구분자 포함 오른쪽 구분자 기준 분할 :: str.rpartition( )
```python
str.rpartition(
    sep = ' ',
    expand = True    # True : DataFrame/MultiIndex 확장 차원을 반환 | False : Series/Index를 반환
)
```
- 구분자의 첫 번째 항목에서 문자열을 분할
- Option
    - sep : 구분자
    - expand : 분할 문자열을 별도의 열로 확장

In [44]:
df['email'].str.rpartition(' ')    # 구분자(' ')를 기준으로 분할

                                 0  1        2
0        ID : abc@naver.com | PW :     abcdefg
1     ID : python@gamil.com | PW :     jupyter
2  ID : English@yahoo.ac.kr | PW :        hard

In [45]:
df['email'].str.rpartition(' ', expand = False)

0       (ID : abc@naver.com | PW :,  , abcdefg)
1    (ID : python@gamil.com | PW :,  , jupyter)
2    (ID : English@yahoo.ac.kr | PW :,  , hard)
Name: email, dtype: object

## 5. 문자열 찾기

In [46]:
df = pd.DataFrame({'email' : ['abc@naver.com',
                              'programming@gmail.com',
                              '1004@daum.net']})
df

                   email
0          abc@naver.com
1  programming@gmail.com
2          1004@daum.net

### 5-1. 찾고자 하는 문자열 중 가장 낮은 인덱스 :: str.find( ) or str.index( )
```python
str.find(    # str.index
    sub,
    start = 0,
    end = None
)
```
- 찾는 문자중 가장 낮은 인덱스 반환
    - 즉, 왼쪽부터 문자를 찾음
- Option
    - sub : 찾고자 하는 문자or문자열
    - start : 시작 인덱스
    - end : 끝 인덱스

In [47]:
df['email'].str.find(sub = '.')   # 왼쪽부터 sub값 검색후 위치반환
df['email'].str.index(sub = '.')

0     9
1    17
2     9
Name: email, dtype: int64

### 5-2. 찾고자 하는 문자열 중 가장 큰 인덱스 :: str.rfind( ) or str.rindex( )
```python
str.rfind(    # str.rindex
    sub,
    start = 0,
    end = None
)
```
- 찾는 문자중 가장 큰 인덱스 반환
    - 즉, 오른쪽부터 문자를 찾음
- Option
    - sub : 찾고자 하는 문자or문자열
    - start : 시작 인덱스
    - end : 끝 인덱스

In [48]:
df['email'].str.rfind(sub = '.')    # 오른쪽부터 sub값 검색후 위치반환
df['email'].str.rindex(sub = '.')

0     9
1    17
2     9
Name: email, dtype: int64

### 5-3. ~시작하는 문자열 찾기 :: str.startswith( )
```python
str.startswith(
    pat
)
```
- pat 값으로 시작하는 문자열 찾기
- Option
    - pat : 찾고자하는 문자열

In [49]:
df['email'].str.startswith('abc') # 'abc'로 시작하는 문자열 찾기
df['email'].str.startswith(pat = 'abc')

0     True
1    False
2    False
Name: email, dtype: bool

### 5-4. ~끝나는 문자열 찾기 :: str.endswith( )
```python
str.endswith(
    pat
)
```
- pat 값으로 끝나는 문자열 찾기
- Option
    - pat : 찾고자하는 문자열

In [50]:
df['email'].str.endswith('com') # 'abc'로 시작하는 문자열 찾기
df['email'].str.endswith(pat = 'com')

0     True
1     True
2    False
Name: email, dtype: bool

### 5-5. ~포함하는 문자열 찾기 :: str.contains( )
```python
str.contains(
    pat,
    case = True,    # True : 대*소문자 구분 | False : 대*소문자 구분하지 않음
)
```
- pat값을 포함하는 문자열 찾기
- Option
    - pat : 찾고자 하는 문자 or 문자열
    - case : 대*소문자 구분 여부

In [51]:
df['email'].str.contains('ing')   # 'ing'을 포함하는 문자열 찾기

0    False
1     True
2    False
Name: email, dtype: bool

## 6. 문자열 슬라이싱 :: str.slice( )
```python
Series.str.slice(
    start = None,
    stop = None,
    step = None
)
```
- 인덱스 위치를 기반으로 문자열에서 하위 문자열을 추출
- Option
    - start : 슬라이스 작업의 시작 위치
    - stop : 슬라이스 작업을 위한 정지 위치
    - stop : 슬라이스 작업의 단계 크기

In [52]:
df

                   email
0          abc@naver.com
1  programming@gmail.com
2          1004@daum.net

In [53]:
df['email'].str.slice(-3)
df['email'].str.slice(start = -3)

0    com
1    com
2    net
Name: email, dtype: object

## 7. 문자열 속성 확인

In [54]:
df = pd.DataFrame({'email' : ['alpha1',
                              'alphabet',
                              '123456',
                              'lower',
                              'UPPER']})
df

      email
0    alpha1
1  alphabet
2    123456
3     lower
4     UPPER

### 7-1. 알파벳 or 숫자로만 구성 되어있는지 여부 :: str.isalnum( )

In [55]:
df['e_isalnum'] = df['email'].str.isalnum()
df

      email  e_isalnum
0    alpha1       True
1  alphabet       True
2    123456       True
3     lower       True
4     UPPER       True

### 7-2. 알파벳만으로 구성 여부 :: str.isalpha( )

In [56]:
df['e_isalpha'] = df['email'].str.isalpha()
df

      email  e_isalnum  e_isalpha
0    alpha1       True      False
1  alphabet       True       True
2    123456       True      False
3     lower       True       True
4     UPPER       True       True

### 7-3. 숫자로만 구성 여부 :: str.isdecimal( ) or str.isdigit( ) or str.isnumeric( )

In [57]:
df['e_isdecimal'] = df['email'].str.isdecimal()
df['e_isdigit'] = df['email'].str.isdigit()
df['e_isnumeric'] = df['email'].str.isnumeric()
df

      email  e_isalnum  e_isalpha  e_isdecimal  e_isdigit  e_isnumeric
0    alpha1       True      False        False      False        False
1  alphabet       True       True        False      False        False
2    123456       True      False         True       True         True
3     lower       True       True        False      False        False
4     UPPER       True       True        False      False        False

### 7-4. 소문자로만 구성 여부 :: str.islower( )

In [58]:
df['e_islower'] = df['email'].str.islower()
df

,email,e_isalnum,e_isalpha,e_isdecimal,e_isdigit,e_isnumeric,e_islower
0,alpha1,True,False,False,False,False,True
1,alphabet,True,True,False,False,False,True
2,123456,True,False,True,True,True,False
3,lower,True,True,False,False,False,True
4,UPPER,True,True,False,False,False,False

### 7-5. 대문자로만 구성 여부 :: str.isupper( )

In [59]:
df['e_isupper'] = df['email'].str.isupper()
df

,email,e_isalnum,e_isalpha,e_isdecimal,e_isdigit,e_isnumeric,e_islower,e_isupper
0,alpha1,True,False,False,False,False,True,False
1,alphabet,True,True,False,False,False,True,False
2,123456,True,False,True,True,True,False,False
3,lower,True,True,False,False,False,True,False
4,UPPER,True,True,False,False,False,False,True